body{
  margin: 0;
  background: #efefef;
}
a{
  text-decoration: none;
  color: inherit;
}
*{
  margin: 0;
  padding: 0;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #dedede; 
}
ul,li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


.loading{
  width: 200px;
  height: 200px;
  position: relative
}
.loading::before,.loading::after{
  content:'';
  position: absolute;
  width:0px;
  height:0px;
  background:#000;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border-radius:50%;
  animation:s 1.5s linear infinite;
}
.loading::after{
  animation-delay: 0.75s;
}

@keyframes s{
  0%{
    width:0;height:0;opacity:1;
  }
  100%{
    width:100px;height:100px;opacity:0;
  }
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


[data-x].animate{
  animation: slideUp 0.5s;
}
[data-x].offset{
  transform: translateY(30px);
}
[data-x]{
  transform: translateY(0);
  transition: all 0.5s;
}
@keyframes slideUp{
  0%{
    transform: translateX(-30px)
  }
  100%{
    transform: translateX(-0px)
  }
}

.topNavBar {
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #b7b7b7;
  transition: all 0.5s;
}
.topNavBar.sticky{
  padding: 10px 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #3d4451;
}
.topNavBar-inner{
  padding: 0 16px;
}
.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs{
  color: #e6686a;  
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}

.topNavBar nav {
  padding-top: 5px;
}
.topNavBar nav > ul{ 
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav > ul > li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
.topNavBar nav > ul > li > a{
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e6686a;
  height: 3px;
  animation: menuSlide 0.3s;
}
@keyframes menuSlide{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.topNavBar .submenu{
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  color: #3d4451;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.topNavBar li.active > .submenu{
  display: block;
  animation: submenuSlide 0.3s;
}
@keyframes submenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
.topNavBar .submenu > li{
  white-space: nowrap;
  padding: 5px 10px;
}

.banner{
  height: 515px;
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0,0,0,0.8);
}

.userCard{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}
.userCard .welcome{
  background-color: #e6686a;
  color: #fff;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome .triangle{
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .picture{
  float: left;
}
.userCard .picture img{
  object-fit: cover;
}
.userCard .text{
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard .text h1{
  margin-top: 18px;
}
.userCard .text hr{
  margin: 20px 0;
}
.userCard .pictureAndText{
  padding: 50px;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}
.userCard > footer.media{
  background: #e6686a;
  text-align: center;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 40px;
  padding: 5px;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF5D5F;
}
.userCard > footer.media svg{
  width: 30px;
  height: 30px;
  fill: #fff;
  vertical-align: top;
}

body > main{
  margin-top: -340px;
}
body > main .downloadResume-wrapper{
  text-align: center;
}
body > main .downloadResume{
  font-size: 14px;
  line-height: 16px;
  color: #3d4451;
  font-weight: bold;
  padding: 21px 55px;
  display: inline-block;
  border: 1px solid #cdcfd1;
  background: #efefef;
  border-radius: 2px;
  margin: 32px 0;
  transition: box-shadow 0.3s;
}
body > main .downloadResume:hover{
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}
.selfIntroduction{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  line-height: 1.8;
}

section.skills,
section.protfolio{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
section.skills > h2,
section.protfolio > h2,
section.message > h2{
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.skills h3{
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
section.skills > ol{
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
section.skills > ol > li{
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section.skills > ol > li:nth-child(even){
  float: right;
}
section.skills .progressBar{
  height: 3px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden;
}
section.skills .progressBar > .progress{
  width: 50%;
  height: 100%;
  background: #e6686a;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1s;
}
section.skills.offset .progressBar > .progress{
  transform: translateX(-100%);
}

/* protfolio */
section.protfolio{
  text-align: center;
  margin-bottom: 100px;
  max-width: 720px;
}
section.protfolio > h2{
  margin-bottom: 32px;
}
section.protfolio .swiper-container {
  width: 668px;
  height: 501px; 
}
section.protfolio .swiper-button-prev,
section.protfolio .swiper-button-next{
  background-color: #fff;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  left: auto;
  right: 100%;
}
section.protfolio .swiper-button-next{
  left: 100%;
  right: auto;
}

/* site-welcome */
.site-welcome{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #888;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.site-welcome.active{
  display: flex;
}


section.message > ol{
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  background: #f4f4f4;
}
section.message > ol > li{
  padding: 16px;
  border-bottom: 1px solid #ececec;
}
